<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping list</title>
</head>
<body>
    <form>
        <h2>Add a food</h2>
        <input type="text" name="food">
        {% if items %}
            {% for item in items %}
                <input type="hidden" name="food" value="{{item}}">
            {% endfor %}
        {% endif %}
        <button>add</button>

        {% if items %}
            <br>
            <br>
            <h2>Shopping List</h2>
            <ul>
                {% for item in items %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
        {% endif %}





    </form>
</body>
</html>